@font-face {
    font-family: "Agency FB";
    src: url('../Font/agency_fb.ttf');
}

@font-face {
    font-family: "Oswald";
    src: url('../Font/Oswald-Stencil.ttf');
}

/* *************************HEADER ******************************* */
header{
    background: #000000;
    position: fixed;
    height: 100px;
     width: 100%;
    z-index: 100;
}

.logo{ 
    width: 150px;
    height: 80px;
    padding: 10px;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}

img{
    width: 100%;
    height: 100%;
}

ul{
    float: right;
    margin-right: 15px;
}

li{
    list-style: none;
    display: inline;
    line-height: 100px;
    height: 100px;
    font-family: 'Agency FB';
    margin-right: 20px;
}


a{
    color: #FFFFFF;
    font-size: 20pt;
    text-decoration: none;
}

a:hover{
    border-top: 3px solid #C4272D;
}

#accueil:hover{
    border-top: 0px;
}

/* ******************* TEST JS *********************************** */

#top-menu li.active a {
border-top: 3px solid #C4272D;
color: #FFFFFF;
}

/* ******************** ACCUEIL *********************************** */

.accueil{
    z-index: -500;
    
    background: url(../image/Fond_pg01_ptweb.png) center;
    background-size: cover;
    background-color: #000000;
    
    height: 1000px;
    width: 100%;

    border-bottom: 40px solid #000000;
}

h1{
    z-index: 100;
    
    line-height: 1000px;
    height: 1000px;
    
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 80pt;
    text-align: center;
    
    width: 100%;
}

/* ********************* A PROPOS ********************************* */
.apropos{
    background-image: url(../image/fond_pg02_ptweb.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

.apropos h2{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-bottom: 25px;
}

.apropos .avatar{
    
    margin-left: auto;
    margin-right: auto;
    
    width: 20vh;
    height: 20vh;
    
    border-radius: 50%;
    
    background-image: url(../image/alexis.png);
    background-position: center;
    background-size: cover;
}
.apropos .apropos_texte {
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
    font-weight: bold;
}

.apropos .apropos_texte p{
    font-family: 'Agency FB';
    font-size: 25pt;
}

.button_cv {
    font-family: 'Agency FB';
    font-size: 18pt;
    
    margin-left: 60%;
    margin-top: 50px;
    margin-bottom: 50px; 
    
    border: 0;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: 1px 4px 0 #C4272D;
    
    color: #000000;
    cursor: pointer;
    
    width: 200px;
    padding: 12px 20px;
    
    transition: all .1s linear;
}

.button_cv:active {
  box-shadow: 0 2px 0 #C4272D;
  transform: translateY(3px);
}


/* ********************* COMPETENCES ***************************** */
.container_competence{
    background-image: url(../image/fond_pg03_ptweb.jpg);
    background-size: cover;  
    background-position: center;
    height: 1000px;
}

.competence{
    height: 900px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.competence h2{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-top: 10%;
}

.competence .container_niveau{
    display: inline-block;
    
    height: 60%;
    width: calc((100% - (7*19px) )/ 7);
    margin-right: 15px;
    
   /*  border: 2px solid #000000; */
    
    /* Afin de le centré sur la fenêtre */
    margin-top: 40vh; 
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); 
    /* tiré de la moitié de sa propre hauteur */
}

.container_niveau div{
    height: calc((100% - 60px )/ 6);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #C1272D;
    width: 80%;
}

.container_niveau .nom_niveau{
    font-size: 20pt;
    font-family: 'Agency FB';
    text-align: center;
    border: 2px solid #000000;
    width: 100%;
    height: 80px;
    line-height: 80px;
}
/* Le nom photoshop et illustrator sont trop long donc petite taille police */
.container_niveau .nom_niveau_petit{
    font-size: 18pt;
    font-family: 'Agency FB';
    text-align: center;
    border: 2px solid #000000;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nom_niveau h3{
    font-size: 25pt;
    font-weight: bold;
    color: #000000;
}
/* arborescence plus bonne donc nouvelle pour les titres */
.nom_niveau_petit h3{
    font-size: 25pt;
    color: #000000;
    font-weight: bold;
}
/* ******************** REMPLISSAGE ******************************* */
.html .niveau:nth-child(2),
.html .niveau:nth-child(3),
.html .niveau:nth-child(4),
.html .niveau:nth-child(5){
    background-color: #C1272D;
}

.css .niveau:nth-child(2),
.css .niveau:nth-child(3),
.css .niveau:nth-child(4),
.css .niveau:nth-child(5){
    background-color: #C1272D; 
}

.php .niveau:nth-child(3),
.php .niveau:nth-child(4),
.php .niveau:nth-child(5){
    background-color: #C1272D;
}

.ux .niveau:nth-child(3),
.ux .niveau:nth-child(4),
.ux .niveau:nth-child(5){
    background-color: #C1272D;
}

.langue .niveau:nth-child(2),
.langue .niveau:nth-child(3),
.langue .niveau:nth-child(4),
.langue .niveau:nth-child(5){
    background-color: #C1272D;
}

.illustrator .niveau:nth-child(2),
.illustrator .niveau:nth-child(3),
.illustrator .niveau:nth-child(4),
.illustrator .niveau:nth-child(5){
    background-color: #C1272D;
}


.photoshop .niveau:nth-child(2),
.photoshop .niveau:nth-child(3),
.photoshop .niveau:nth-child(4),
.photoshop .niveau:nth-child(5){
    background-color: #C1272D;
}
/* ******************** PORTFOLIO ******************************** */
.portfolio_container{
    background-color: #D8D8D8;
}

.portfolio{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio h2{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-bottom: 5%;
}

.responsive{
    width: calc( (100% - 90px ) / 3 );
    
    margin-left: 15px;
    margin-right: 15px;
    
    display: inline-block;
} 

.responsive:hover{
    opacity: 0.5;   
}
/* ********************Lightbox test**************************** */

.lightbox{
	display: none;

	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox:target {

	outline: none;


	display: block;
}

.lightbox .hippie{
	max-width: 70vh;
	max-height: 100vh;
	margin-top: 2%;
}


.lightbox .eachother{
	max-width: 100vh;
	max-height: 80vh;
	margin-top: 2%;
}

.lightbox .hendrix{
	max-width: 60vh;
	max-height: 90vh;
	margin-top: 2%;
}

.lightbox .meltdown_front{
    max-height: 50vh;
    max-width: 85vh;
    
    margin-top: 2%;
}

.lightbox .meltdown_back{
    max-height: 40vh;
    max-width: 85vh;
    
    margin-top: 2%;
}

.lightbox .logo_ab{
    background-color: rgba(255,255,255,0.8);
    max-width: 80vh;
    max-height: 90vh;
    
    margin-top: 2%;
    
}

.lightbox .logo_divers{
    background-color: rgba(255,255,255,0.8);
    max-width: 80vh;
    max-height: 90vh;
    
    margin-top: 2%;   
}

.lightbox .logo_garage{
    background-color: rgba(255,255,255,0.8);
    max-width: 100vh;
    max-height: 90vh;
    
    margin-top: 2%;   
}

.lightbox .maquette_piclab{
    max-width: 80vh;
    max-height: 90vh;
    margin-top:2%;
}

.lightbox .maquette_convert{
    max-width: 90vh;
    margin-top:2%;
}

/* ******************** CONTACT *********************************** */
.contact{
    background-color: #000000;
    background-image: url(../image/Fond_pg01_ptweb.png);
    background-size: cover;
    
    width :100%;
    height: 100%;
    
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
}

.contact div{
    margin-left: 15%;;
    margin-bottom: 15px;
}


label{
    font-size: 18pt;
    font-family: 'Agency FB';
    font-weight: bold;
    
    color: #000000;
    width: 20%;
    display:inline-block;
    float: left;
}

.label_texte{
    margin-top: 30px;
}

input{
    border: 1px solid #000000;
    border-radius: 7px 7px;
    width: 50%;
    height: 30px;
}

textarea{
    min-height: 100px;
    max-height: 100px;
    min-width: 50%;
    max-width: 50%;
    border-radius: 7px 7px;
    border: 1px solid #000000;
}

button{
    padding: 5px;
    margin-left: 60%;
    border-radius: 5px 5px;
}
/* ********************* FOOTER *********************************** */

footer{
    background-color: #000000;
}

.container{
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

.container p{
    font-family: 'Agency FB';
    font-size: 18pt;
    color: #FFFFFF;
    display: inline;
}
/* ********************* CLEARFIX ********************************* */
.clearfix {
    content:" ";
    display:block;
    clear:both;
}
/* ********************* MEDIA QUERY******************************* */

@media (max-width: 1024px) /* ****** Format tablette portrait ****** */  
{
    .accueil{
        height: 780px;
    }
    
    h1{
        height: 780px;
        line-height: 780px;
        font-size:50pt;
    }
    
    .apropos .apropos_texte p{
        font-size: 18pt;
    }

    .lightbox .hippie{
        margin-top: 2%;
        
        max-width: 60vh;
        max-height: 80vh;
    }
    
    .lightbox .eachother{
        margin-top: 2%;
        
        max-height: 60vh;
        max-width: 80vh;
    }
    
    .lightbox .hendrix{
        margin-top: 2%;
        
        max-width: 70vh;
        max-height: 90vh;
        min-width: 40vh;
        min-height: 60vh;
    }

    .lightbox .meltdown_front{
        margin-top: 2%;
        max-height: 50vh;    
    }
    
    .nom_niveau_petit h3{
        font-size: 16pt;
    }
    
    .nom_niveau h3{
        font-size: 18pt;
    }
}

@media (max-width:780px)
{
    
    .accueil{
        height: 1024px;
    }
    
    h1{
        height: 1024px;
        line-height: 1024px;
    }
}