/* *************************HEADER ******************************* */
header{
    background: #000000;
    position: fixed;
    height: 100px;
     width: 100%;
    z-index: 100;
}

.logo{
    width: 150px;
    height: 80px;
    padding: 10px;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}

img{
    width: 100%;
    height: 100%;
}

ul{
    float: right;
    margin-right: 15px;
}

li{
    list-style: none;
    display: inline;
    line-height: 100px;
    height: 100px;
    font-family: 'Agency FB';
    margin-right: 20px;
}


a{
    color: #FFFFFF;
    font-size: 20pt;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* ******************** ACCUEIL *********************************** */

.accueil{
    z-index: -500;
    background: url(image/image_fond01_ptweb.jpg) center;
    background-size: cover;
    height: 1000px;
    width: 100%;

}

h1{
    z-index: 100;
    
    line-height: 1000px;
    height: 1000px;
    
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 80pt;
    text-align: center;
    
    width: 100%;
}

/* ********************* A PROPOS ********************************* */
.apropos{
    background-image: url(image/fond_pg02_ptweb.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

.apropos h2{
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-bottom: 25px;
}

.apropos .avatar{
    
    margin-left: auto;
    margin-right: auto;
    
    width: 20vh;
    height: 20vh;
    
    border-radius: 50%;
    
    background-image: url(image/alexis.png);
    background-position: center;
    background-size: cover;
}
.apropos .apropos_texte {
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.apropos .apropos_texte p{
    font-family: 'Agency FB';
    font-size: 25pt;
}

.button_cv {
    font-family: 'Agency FB';
    font-size: 18pt;
    
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px; 
    
    border: 0;
    background: #BDBDBD;
    border-radius: 4px;
    box-shadow: 1px 4px 0 #C4272D;
    
    color: #000000;
    cursor: pointer;
    
    width: 200px;
    padding: 12px 20px;
    
    transition: all .1s linear;
}

.button_cv:active {
  box-shadow: 0 2px 0 #C4272D;
  transform: translateY(3px);
}


/* ********************* COMPETENCES ***************************** */
.container_competence{
    background-image: url(image/fond_pg03_ptweb.jpg);
    background-size: cover;  
    background-position: center;
    height: 1000px;
}

.competence{
    height: 900px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.competence h2{
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-top: 10%;
}

.competence .container_niveau{
    display: inline-block;
    
    height: 60%;
    width: calc((100% - (7*19px) )/ 7);
    margin-right: 15px;
    
   /*  border: 2px solid #000000; */
    
    /* Afin de le centré sur la fenêtre */
    margin-top: 40vh; 
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); 
    /* tiré de la moitié de sa propre hauteur */
}

.container_niveau div{
    height: calc((100% - 60px )/ 6);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #C1272D;
    width: 80%;
}

.container_niveau .nom_niveau{
    font-size: 20pt;
    font-family: 'Agency FB';
    text-align: center;
    border: 2px solid #000000;
    width: 100%;
    height: 80px;
    line-height: 80px;
}
/* Le nom photoshop et illustrator sont trop long donc petite taille police */
.container_niveau .nom_niveau_petit{
    font-size: 18pt;
    font-family: 'Agency FB';
    text-align: center;
    border: 2px solid #000000;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nom_niveau h3{
    font-weight: bold;
    color: #000000;
}
/* arborescence plus bonne donc nouvelle pour les titres */
.nom_niveau_petit h3{
    color: #000000;
    font-weight: bold;
}
/* ******************** REMPLISSAGE ******************************* */
.html .niveau:nth-child(2),
.html .niveau:nth-child(3),
.html .niveau:nth-child(4),
.html .niveau:nth-child(5){
    background-color: #C1272D;
}

.css .niveau:nth-child(2),
.css .niveau:nth-child(3),
.css .niveau:nth-child(4),
.css .niveau:nth-child(5){
    background-color: #C1272D; 
}

.php .niveau:nth-child(3),
.php .niveau:nth-child(4),
.php .niveau:nth-child(5){
    background-color: #C1272D;
}

.ux .niveau:nth-child(3),
.ux .niveau:nth-child(4),
.ux .niveau:nth-child(5){
    background-color: #C1272D;
}

.langue .niveau:nth-child(2),
.langue .niveau:nth-child(3),
.langue .niveau:nth-child(4),
.langue .niveau:nth-child(5){
    background-color: #C1272D;
}

.illustrator .niveau:nth-child(2),
.illustrator .niveau:nth-child(3),
.illustrator .niveau:nth-child(4),
.illustrator .niveau:nth-child(5){
    background-color: #C1272D;
}


.photoshop .niveau:nth-child(2),
.photoshop .niveau:nth-child(3),
.photoshop .niveau:nth-child(4),
.photoshop .niveau:nth-child(5){
    background-color: #C1272D;
}
/* ******************** PORTFOLIO ******************************** */
.portfolio{
    width: 100%;
    background-color: #D8D8D8;
}

.portfolio h2{
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-bottom: 5%;
}

.portfolio .ligne1col1,
.portfolio .ligne1col2,
.portfolio .ligne1col3{
    width: calc( (100% - 90px ) / 3 );
    
    margin-left: 15px;
    margin-right: 15px;
    
    display: inline-block;
    vertical-align:middle;
} 

/* ********************Lightbox test**************************** */

.lightbox{
    /** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.lightbox .hippie{
    /** Pad the lightbox image */
	max-width: 80vh;
	max-height: 100vh;
	margin-top: 2%;
}


.lightbox .eachother{
    /** Pad the lightbox image */
	max-width: 100vh;
	max-height: 80vh;
	margin-top: 2%;
}

.lightbox .hendrix{
    /** Pad the lightbox image */
	max-width: 60vh;
	max-height: 90vh;
	margin-top: 2%;
}

/* ********************* FOOTER *********************************** */


/* ********************* CLEARFIX ********************************* */
.clearfix {
    content:" ";
    display:table;
    clear:both;
}
/* ********************* MEDIA QUERY******************************* */

@media (max-width : 980px)
{
    h1{
        font-size:50pt;
    }
    
    .apropos .apropos_texte p{
        font-size: 18pt;
    }
    /* adaptation du hippie sur tablette */
    .lightbox .hippie{
        max-width: 70vh;
        max-height: 80vh;
    }
    
    .lightbox .eachother{
        max-height: 60vh;
        max-width: 80vh;
    }
    
    .lightbox .hendrix{
        max-width: 80vh;
        max-height: 100vh;
        min-width: 40vh;
        min-height: 60vh;
    }
}
