/* *************************HEADER ******************************* */
header{
    background: #000000;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
}

.logo{
    width: 150px;
    height: 80px;
    padding: 10px;
    margin-left: 25px;
    float: left;
}

img{
    width: 100%;
    height: 100%;
}

ul{
    float: right;
    margin-right: 15px;
}

li{
    list-style: none;
    display: inline;
    line-height: 100px;
    height: 100px;
    color: #C1272D;
    font-family: 'Agency FB';
    margin-right: 20px;
}

li:active{
    text-decoration: underline;
    color: #C1272D;
    font-weight: bold;
}

a{
    color: #C1272D;
    font-size: 20pt;
}

/* ******************** ACCUEIL *********************************** */

.accueil{
    z-index: -500;
    background: url(image/Fond_pg01_ptweb.png) center;
    background-size: cover;
    height: 1000px;
    width: 100%;

}

h1{
    z-index: 100;
    
    line-height: 1000px;
    height: 1000px;
    
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 80pt;
    text-align: center;
    
    width: 100%;
}

/* ********************* A PROPOS ********************************* */
.apropos{
    background-image: url(image/fond_pg02_ptweb.png);
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
}

.apropos h2{
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    
    width: 100%;
    
    padding-top: 10%;
    margin-bottom: 25px;
}

.apropos .apropos_texte {
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.apropos .apropos_texte p{
    font-family: 'Agency FB';
    font-size: 25pt;
}

.bouton_cv{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px; 
    width: 150px;
    border: 2px solid #C1272D;
    text-align: center;
    color: #FFFFFF;
    background-color: #C1272D;
    font-family: 'Agency FB';
    font-size: 24pt;
    border: 2px solid #000000;
    padding: 5px;
}

/* ********************* MEDIA QUERY******************************* */

@media (max-width : 980px)
{
    h1{
        font-size:50pt;
    }
    
    .apropos .apropos_texte p{
        font-size: 18pt;
    }
}
